<div
  class="container-head flex flex-wrap gap-3 items-baseline px-12 py-2 bg-gray-800 rounded-2xl border border-gray-700 justify-center mb-10"
>
  <h1 class="text-3xl">CalcRoot</h1>
  <h2 class="text-2xl">por</h2>
  <h3>Naim Babanaceur García de Lara</h3>
</div>

<div class="info mb-10">
  <h1 class="text-center text-2xl">
    CalcRoot: Una Aplicación de Cálculo Avanzado
  </h1>
  <p class="max-w-[650px] mx-auto my-5">
    CalcRoot es una aplicación desarrollada como proyecto personal por Naim
    Babanaceur García de Lara, utilizando Angular y Tailwind CSS. Su objetivo es
    ofrecer una plataforma intuitiva y eficiente para realizar cálculos
    matemáticos avanzados, optimizando la experiencia del usuario a través de
    una interfaz moderna y responsiva.
  </p>
  <p class="max-w-[700px] mx-auto my-5">
    Gracias a Angular, CalcRoot ofrece un rendimiento ágil y una estructura
    escalable, mientras que Tailwind CSS aporta un diseño minimalista y
    adaptable a distintos dispositivos. Esta combinación tecnológica permite que
    la aplicación sea ligera, rápida y visualmente atractiva. CalcRoot refleja
    el compromiso de su creador con el desarrollo web y la creación de
    herramientas prácticas para la comunidad.
  </p>
</div>
